* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(49, 7, 238);
}
header{
    margin-top: 20px;
    margin-left: 30px;
}

h1 {
    text-align: center;
    margin-top:70px;
    color:salmon ;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
}
a{
    text-decoration: none !important;
    list-style: none !important;
}

h2 {
    margin: 150px;
    background: white;
    font-size: 70px;
    text-align: center;
    margin-top: 10px;
}

.img {
    width: 1150px;
    position: relative;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 170px;
    border-radius: 20px;  
}

p {
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
    color: white;
    font-family: 'Pacifico', cursive;
}

.tit {
    background: white; 
   text-align: center;
   font-family: 'Montserrat', sans-serif;
}


 .img2 {
     width: 50%;
     border-radius: 20px;
     margin-left: 400px;
     margin-top: 100px;
 }
 

