* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    background: rgb(49, 7, 238);
}
header{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 35px;
}
.nav-link{
    font-size: 25px;
    color: white !important;
    margin: 25px 25px 25px 25px !important;
}
.navbar-brand{
   
    margin-left: 40px !important;
    
}
.titulo{
    color: white !important;
    margin-left: 40px !important;
    
}
.azul{
   margin-bottom: 10% !important;
   font-size: 30px;
   color: white !important;
  
}
.nav-link active{
    color: white !important;
}
h1 {
    text-align: center;
    margin-top:70px;
    color:salmon ;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
}
a{
    text-decoration: none !important;
    list-style: none !important;
}

h2 {
    margin: 150px;
    background: white;
    font-size: 70px;
    text-align: center;
    margin-top: 10px;
}

.img {
    width: 1150px;
    position: relative;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 170px;
    border-radius: 20px;  
}

p {
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
    color: white;
    font-family: 'Pacifico', cursive;
}

.tit {
    background: white; 
   text-align: center;
   font-family: 'Montserrat', sans-serif;
}


 .img2 {
    position: relative;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
   
 }
 .foooter
 {
     margin-top: 40px !important;
 }
 

