*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:rgb(235, 146, 193)  
}
header{
    margin-top: 20px;
    margin-left: 30px;  
}

h1{
    color: black;
    font-family: 'Pacifico', cursive;
    margin-top: 70px;
}

h2 {
    font-size: 70px;
    text-align: center;
    margin-top: 10px;
}

a{
    text-decoration: none !important;
}

.subtitulo{
    font-size: 30px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-style: italic;
}

h5#constainer12{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 700px;
    margin-bottom: 3%;
    font-family: 'Licorice', cursive;
}
h5{
    margin-bottom: 5%;
}

.constainer12{
    margin-left: 10%;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgba(53, 7, 31, 0.801);
    font-family: 'Licorice', cursive;
}
    h5{
    margin-left: 10%;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgba(53, 7, 31, 0.801);
    font-family: 'Licorice', cursive;
    }

p{
        text-align: center;
        font-size: 25px;
        font-family: 'Licorice', cursive;

}

.imgalimentacao {
     width:90%;
     border-radius: 20px;
     margin-left: 50px;
     margin-top: 30px;
}

.imgalimentacao1 {
    width: 75%;
    height: 500px;
    margin-top: 60px;
    position: relative;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgalimentacao2 {
    width: 50%;
    height: 50%;
}

.imgalimentacao2{
  display: table-cell;
  float: left;
  margin-left: 165px;
 
}
.um{
    display: table-cell;
    float: left;
    width: 400px;
    margin-left: 65px;
    font-size: 23px;
    font-family: 'Licorice', cursive;
    font-weight: bold;
}
img{
    border-radius: 10px;
}
.dois{
display: table-cell;
    float: left;
    width: 400px;
    margin-left: 65px;
    font-size: 21px;
    font-family: 'Licorice', cursive;
    font-weight: bold;
}
.tres{
    display: table-cell;
    float: left;
    width: 400px;
    margin-left: 65px;
    font-size: 18px;
    font-family: 'Licorice', cursive;
    font-weight: bold;
}
h5#img3{
    display: table-cell;
    float: left;
    margin-top: 40px;
    margin-left: 600px;
    margin-bottom: 2%;
    
    
}
h5#img4{
    display: table-cell;
    float: left;
    width: 400px;
    margin-left: 600px;
    margin-bottom: 2%;
    margin-top: 60px;
    
     
}
.quatro{
    display: table-cell;
    float: left;
    width: 400px;
    margin-left: 65px;
    font-size: 18px;
    font-family: 'Licorice', cursive;
    font-weight: bold;
    margin-right: 80px;
}
h4#img5{
    display: table-cell;
    float: left;
    width: 300px;
    margin-left: 400px;
    margin-bottom: 2%;
    margin-top: 600px !important;
    
}
.cinco{
    margin-left: 70px !important;
    font-family: 'Licorice', cursive;
    font-weight: bold;
}
h5{
    margin-top: 150px;
}
h3{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-family: 'Licorice', cursive;
    margin-bottom: 2%;
}
p#p6 {
    margin-top: 40px !important;
    font-style: italic;
    font-weight: bold;  
}